#logo{
	width: 20%;
	height: 20%;
}

#logo:hover{
	opacity: 0.5;
}

#logo:hover{
	border-radius: 50px;
	border: 2px solid white;
}

.navbar-brand:hover{
	opacity: 0.5;
}

.container{
	padding-top: 150px;
	font-size: 20px;
	padding-bottom: 50px;
}

.g-map{
	padding-top: 60px;
}

#input{
	width: 477px;
}

#submit{
	background-color: white;
	border-radius: 50px;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	color: white;
	text-align: center;
	background-color: gray;
	letter-spacing: 2px;
}


