

.container{
	padding-top: 230px;
}

#logo{
	width: 20%;
	height: 20%;
}

#logo:hover{
	border-radius: 50px;
	border: 2px solid white;
}

.navbar-brand:hover{
	opacity: 0.5;
}

#paragraph-1{
	font-size: 25px;
}

#paragraph-2{
	padding-top: 50px;
	font-size: 25px;
}

#centered{
	padding-right: 200px;
	padding-left: 200px;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	color: white;
	text-align: center;
	background-color: gray;
	letter-spacing: 2px;
}
