* {
/*	margin: 0;
	padding: 0;
	box-sizing: border-box;*/
}

#logo{
	width: 20%;
	height: 20%;
}

#logo:hover{
	border-radius: 50px;
	border: 2px solid white;
}

.navbar-brand:hover{
	opacity: 0.5;
}

.centered-1, .centered-2{
	text-align: center;
	position: relative;
	top: 300px;
}

.centered-1{
	text-shadow: 2px 2px 15px #000000; /*black*/
	color: white;
}

.centered-2{
	position: relative;
	top: 500px;
}