
#logo{
	width: 20%;
	height: 20%;
}

#logo:hover{
	opacity: 0.5;
}

#logo:hover{
	border-radius: 50px;
	border: 2px solid white;
}

.navbar-brand:hover{
	opacity: 0.5;
}

.card{
	margin-top: 150px;
}

.card-text{
	font-size: 18px;
}

.card-1{

}

.card-2{
	position: relative;
	bottom: 20px;
}

.card-3{
	position: relative;
	bottom: 40px;
}

.card-4{
	position: relative;
	bottom: 60px;
}

.img-fluid:hover{
	opacity: 0.8;
}

.btn{
	float: right;
}

footer{
	left: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	color: white;
	text-align: center;
	background-color: gray;
	letter-spacing: 2px;
}















































